body {
    	background-image: url("https://webdevdbcourses.prattsi.org/~kdroesch/typewriter.jpeg");
    	background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover;
	}
.home_1 h1 {
	border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 28%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.home_2 h2 {
    position: absolute;
    top: 36%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} 
.title form {
    position: absolute;
    top: 55%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.search-by-title h3 {
 	position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.home_4 h4 {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.topnav {
    float: right;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.review_h1 h1 {
	border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.review_h2 h2 {
    position: absolute;
    top: 38%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
} 
review_h4 h4 {
    position: absolute;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.review_content text {
    text-align: justify;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
}
.about_h1 h1 {
	border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 30%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    color: #ffffff;
}
.about_h2 h2 {
    text-align: center;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}
.about_h4 h4 {
    position: absolute;
    color: white;
    top: 90%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}